body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: rgb(202, 228, 250);   
}

#greeting{
    background-color: rgb(194, 194, 237);
}

button{
    padding: 10px 20px;
    background-color: cadetblue;
    color: azure;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: darkgreen;
}