body{
    background-color: #d6f4e8;
}

.chat-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction:column;
    height: 100vh; /* Set the height to the full viewport height */
  }

#request {
    display: flex;
    align-items: center;
}

#request button{
    margin-left: 8px;
}

.response-container {
    background-color: #b4e4e1;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(47, 0, 255, 0.1);
    max-width: 800px;
}

.response-scroll-container {
    max-height: 500px;
    overflow-y: auto; 
}

